<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Payst</title>
    </head>
    <body>
        <h1>Payst</h1>
        <form action="/pastes" method="POST">
            <input type="text" name="name" placeholder="Name">
            <br>
            <input type="text" name="description" placeholder="Description">
            <br>
            <input type="text" name="lang" placeholder="Language">
            <br>
            <textarea name="code"></textarea>
            <br>
            <input type="submit">
        </form>
    </body>
</html>
