<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Payst</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Payst</h1>
            <form action="/pastes" method="POST">
                <fieldset>
                    <legend>Submit paste</legend>
                    <label>Name</label>
                    <input type="text" name="name">
                    <label>Description</label>
                    <input type="text" name="description">
                    <label>Language</label>
                    <input type="text" name="lang">
                    <label>Code</label>
                    <textarea name="code"></textarea>
                    <br>
                    <button type="submit" class="btn">Submit</button>
                </fieldset>
            </form>
        </div>
    </body>
</html>
